{% extends "layouts/base.html" %}

{% block title %} Editar Perfil {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

<div class="content">

<!-- Inicia Tarjeta de tabla Edit y resumen -->

<div class="row"> <!-- div Poner como Fila Tarjeta de tabla Edit y resumen -->
    <div class="col-md-7"> <!--div para la medida de la columna de tablas md-8-->
        <div class="card"> <!-- div pa poner como tarjeta (card)-->
            <div class="card-header"><h5 class="title">Edit Profile</h5></div>
            <div class="card-body"> <!-- div pa poner como body de la tarjeta (card)-->
                <!-- Inicia el formulario -->
                    <form>
					<div class="row">
						<div class="col">
	                        <label>Email Address</label>
	                        <input type="text" class="form-control">
                    	</div>
						<div class="col">
							<label>Username</label>
							<input type="text" class="form-control" placeholder="lobitouwu">
						</div>
                    </div>

					<div class="row">
						<div class="col">
	                        <label>First Name</label>
	                        <input type="text" class="form-control">
                    	</div>
	                    <div class="col">
	                        <label>Segundo Nombre</label>
	                        <input type="text" class="form-control">
	                    </div>
                    </div>

                    <div class="form-group">
                        <label>Address</label>
                        <input type="text" class="form-control" placeholder="Ciudad de Panama, cl. 77, ed. ABC, ap 27 A">
                    </div>

					<div class="row">
						<div class="col">
							<label>City</label>
							<input type="text" class="form-control" placeholder="Panama">
						</div>
						<div class="col">
							<label>Country</label>
							<input type="text" class="form-control" placeholder="Panama">
						</div>

						<div class="col">
							<label>Postal Code</label>
							<input type="text" class="form-control" placeholder="Zip Code">
						</div>
					</div>

                      <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                <!-- Finaliza el Formulario -->

			</div> <!-- div pa poner como tarjeta (card)-->
		</div>  <!-- div pa poner como tarjeta (card)-->
	</div> <!--div para la medida de la columna de tablas md-8-->

    <div class="col-md-4"> <!--div para la medida de la columna de tablas md-8-->
        <div class="card"> <!-- div pa poner como tarjeta (card)-->
            <div class="card-header"><h5 class="title">Edit Profile</h5></div>
            <div class="card-body"style="text-align: center;"> <!-- div pa poner como body de la tarjeta (card)-->
                  <img class="avatar" src="https://cdn.pixabay.com/photo/2020/02/09/09/39/smiley-4832495_1280.png" alt="..." style="width: 200px; height: 200px; al">
            <h5 class="title">Lourdes Morales</h5>
	            <p class="description"> Ceo/Co-Founder </p>

	            <div class="card-description" style="text-align: justify;">
	            	Do not be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is... 
	            </div>

			</div> <!-- div pa poner como tarjeta (card)-->
		</div>  <!-- div pa poner como tarjeta (card)-->
	</div> <!--div para la medida de la columna de tablas md-8-->
</div> <!-- div Poner como Fila Tarjeta de tabla Edit y resumen -->


</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}