{% extends "layouts/base.html" %}

{% block title %} Home {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

<?php
  $conexion=mysqli_connect('localhost', 'root', '', 'pruebas');
?>

{% block content %}
<div class="content">

<!-- Inicia Tarjeta de tabla Active alerts -->
<div class="row"> <!-- div Poner como Fila la Tarjeta de tabla Databases Overview -->
    <div class="col-md-5"> <!--div para la medida de la columna de tablas md-8-->
        <div class="card"> <!-- div pa poner como tarjeta (card)-->
            <div class="card-header"><h5 class="title">Active Alerts</h5></div>
            <div class="card-body"> <!-- div pa poner como body de la tarjeta (card)-->
                <!-- Inicia Tabla Active Alerts-->
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th>Database</th>
                            <th>Metric</th>
                            <th>Start Date/Time</th>
                            <th>Duration</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">1</td>
                            <td>Msqldb</td>
                            <td>query</td>
                            <td>2013</td>
                            <td>1 h</td>
                        </tr>
                        <tr>
                            <td class="text-center">2</td>
                            <td>Msqldb</td>
                            <td>query</td>
                            <td>2012</td>
                            <td>2 h</td>
                        </tr>
                    </tbody>
                </table>
                <!-- Fin Tabla Active Alerts-->
            </div> <!-- div pa poner como body de la tarjeta (card)-->
        </div> <!-- div pa poner como tarjeta (card)-->
    </div> <!--div para la medida de la columna de tablas md-8-->
    <!-- Fin Tarjeta de tabla Active alerts -->


    <!-- Inicia Tarjeta de tabla Databases Overview -->
    <div class="col-md-7"> <!--div para la medida de la columna de tablas md-8-->
        <div class="card"> <!-- div pa poner como tarjeta (card)-->
            <div class="card-header"><h5 class="title">Databases Overview</h5></div>
            <div class="card-body"> <!-- div pa poner como body de la tarjeta (card)-->
                        <!-- Inicia Tabla Active Alerts-->
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th>Database</th>
                                    <th>Status</th>
                                    <th>CPU</th>
                                    <th>RAM (GB)</th>
                                    <th>Disk (GB)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">1</td>
                                    <td>Mysqldb</td>
                                    <td>Normal</td>
                                    <td> 2.4 </td> <!-- Valor CPU -->
                                    <td> 8.5 </td> <!-- Valor RAM -->
                                    <td> 430 </td> <!-- Valor Disco -->
                                </tr>
                                <tr>
                                    <td class="text-center">2</td>
                                    <td>Mysqldb</td>
                                    <td>Normal</td>
                                    <td> 2.4 </td> <!-- Valor CPU -->
                                    <td> 8.5 </td> <!-- Valor RAM -->
                                    <td> 430 </td> <!-- Valor Disco -->
                                </tr>
                            </tbody>
                        </table> <!-- Fin Tabla Active Alerts-->
            </div> <!-- div pa poner como body de la tarjeta (card)-->
        </div> <!-- div pa poner como tarjeta (card)-->
    </div> <!--div para la medida de la columna de tablas md-8-->
</div> <!-- Poner como Fila las cajas alert y overview-->
<!-- Finaliza la Tarjeta de tabla Databases Overview -->


<!--Inicia la segunda cajas -->
<div class="row"> <!-- div Poner como Fila la Tarjeta de tabla Documentacion y subscription -->
    <div class="col-md-5"> <!--div para la medida de la columna de tablas md-8-->
        <div class="card"> <!-- div pa poner como tarjeta (card)-->
            <div class="card-header"><h5 class="title">Datawave Documentation</h5></div>
            <div class="card-body"> <!-- div pa poner como body de la tarjeta (card)-->
                <a href="https://miro.com/app/board/uXjVNNPuN-Q=/" class="card-link">Datawave Guide</a>
            </div> <!-- div pa poner como body de la tarjeta (card)-->
        </div> <!-- div pa poner como tarjeta (card)-->
    </div> <!--div para la medida de la columna de tablas md-8-->

    <div class="col-md-7"> <!--div para la medida de la columna de tablas md-8-->
        <div class="card"> <!-- div pa poner como tarjeta (card)-->
            <div class="card-header"><h5 class="title">Notification Subscriptions</h5></div>
            <div class="card-body"> <!-- div pa poner como body de la tarjeta (card)-->
 <!-- Inicia Tabla Active Alerts-->
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th>Database</th>
                            <th>Email</th>
                            <th>Subscription Date</th>
                            <th>Last Alert Sent</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">1</td>
                            <td>Msqldb</td>
                            <td>laniro@sql.com</td>
                            <td>01/02/2023</td>
                            <td>25/11/2023 4:45:00 PM</td>
                        </tr>
                        <tr>
                            <td class="text-center">2</td>
                            <td>Msqldb</td>
                            <td>maracuya@uip.com</td>
                            <td>01/02/2023</td>
                            <td>25/11/2023 4:45:00 PM</td>
                        </tr>
                    </tbody>
                </table>
                <!-- Fin Tabla Active Alerts-->


            </div> <!-- div pa poner como body de la tarjeta (card)-->
        </div> <!-- div pa poner como tarjeta (card)-->
    </div> <!--div para la medida de la columna de tablas md-8-->

</div> <!-- Poner como Fila las cajas Documentation y subscription-->







</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
<script src="../static/assets/demo/rendimiento.js"></script>

{% endblock javascripts %}