{% extends "layouts/base.html" %}

{% block title %} Gestionar Base de Datos {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

<div class="content">


<!-- Inicia Tarjeta de cajas crear y eliminar usuario -->
<div class="row"> <!-- div Poner como Fila la Tarjeta de tabla Crear y eliminar -->
    <div class="col-md-6"> <!--div para la medida de la columna de tablas md-8-->
        <div class="card"> <!-- div pa poner como tarjeta (card)-->
            <div class="card-header"><h5 class="title">Create New Connection</h5></div>
            <div class="card-body"> <!-- div pa poner como body de la tarjeta (card)-->
                <!-- Inicia el formulario -->
                    <form>
                      <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" class="form-control">
                      </div>

                    <div class="form-group">
                        <label>Motor</label>
                        <div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            MySQL
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Mongo</a>
                            <a class="dropdown-item" href="#">PostgreSQL</a>
                            <a class="dropdown-item" href="#">MariaDB</a>
                          </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Usuario</label>
                        <input type="text" class="form-control">
                    </div>

                      <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                      </div>

                    <div class="form-group">
                        <label>Host o Direccion IP</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Puerto</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Nombre de la Base de datos</label>
                        <input type="text" class="form-control">
                    </div>

                      <small class="form-text text-muted">Estaras Creando una Nueva Conexion</small>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                <!-- Finaliza el Formulario -->

            </div> <!-- div pa poner como body de la tarjeta (card)-->
        </div> <!-- div pa poner como tarjeta (card)-->
    </div> <!--div para la medida de la columna de tablas md-8-->




    <div class="col-md-6"> <!--div para la medida de la columna de tablas md-8-->
        <div class="card"> <!-- div pa poner como tarjeta (card)-->
            <div class="card-header"><h5 class="title">Delete Database</h5></div>
            <div class="card-body"> <!-- div pa poner como body de la tarjeta (card)-->
<!-- Inicia el formulario -->
                    <form>

                    <div class="form-group">
                        <label>Selecciona la base de datos a Eliminar</label>
                        <div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            MySQL
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Mongo</a>
                            <a class="dropdown-item" href="#">PostgreSQL</a>
                            <a class="dropdown-item" href="#">MariaDB</a>
                          </div>
                        </div>
                    </div>

                      <small class="form-text text-muted">Estaras Eliminando una Conexion</small>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                <!-- Finaliza el Formulario -->

            </div> <!-- div pa poner como body de la tarjeta (card)-->
        </div> <!-- div pa poner como tarjeta (card)-->
    </div> <!--div para la medida de la columna de tablas md-8-->

</div> <!-- div Poner como Fila la Tarjeta de tabla Crear y eliminar -->

</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}