{% extends "layouts/base.html" %}

{% block title %} Notifications {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">


<!-- Inicia Tarjeta de cajas crear y eliminar usuario -->
<div class="row"> <!-- div Poner como Fila la Tarjeta de tabla Crear y eliminar -->
    <div class="col-md-6"> <!--div para la medida de la columna de tablas md-8-->
        <div class="card"> <!-- div pa poner como tarjeta (card)-->
            <div class="card-header"><h5 class="title">Notifications</h5></div>
            <div class="card-body"> <!-- div pa poner como body de la tarjeta (card)-->
                <!-- Inicia el formulario -->
                    <form>

                    <div class="form-group">
                        <label>Select DataBase</label>
                        <div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Database 1
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Database 1</a>
                            <a class="dropdown-item" href="#">Database 2</a>
                            <a class="dropdown-item" href="#">Database 3</a>
                          </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Email </label>
                        <input type="text" class="form-control"  placeholder="lourdes.moralesquip.edu.pa">
                    </div>

                    <div class="form-group">
                        <label>Email </label>
                        <input type="text" class="form-control"  placeholder="......">
                    </div>
                    
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="">
                          Enable
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>

                      <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                <!-- Finaliza el Formulario -->

            </div> <!-- div pa poner como body de la tarjeta (card)-->
        </div> <!-- div pa poner como tarjeta (card)-->
    </div> <!--div para la medida de la columna de tablas md-8-->


</div> <!-- div Poner como Fila la Tarjeta de tabla Crear y eliminar -->



</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
