
    <div class="sidebar">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
      -->
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="{% if 'index' in segment %} active {% endif %} ">
                    <a href="/home.html">
                        <i class="tim-icons icon-sound-wave"></i>
                        <p>Home</p>
                    </a>
                </li>
                <li class="{% if 'index' in segment %} active {% endif %} ">
                    <a href="/index.html">
                        <i class="tim-icons icon-chart-pie-36"></i>
                        <p>Dashboard</p>
                    </a>
                </li>

                <li class="{% if 'manage' in segment %} active {% endif %}">
                    <a href="/manage_db.html">
                        <i class="tim-icons icon-single-02"></i>
                        <p>Manage Databases</p>
                    </a>
                </li>

                <li class="{% if 'user' in segment %} active {% endif %}">
                    <a href="/user.html">
                        <i class="tim-icons icon-single-02"></i>
                        <p>User Profile</p>
                    </a>
                </li>

                <li class="{% if 'user' in segment %} active {% endif %}">
                    <a href="/edit_profile.html">
                        <i class="tim-icons icon-single-02"></i>
                        <p>User Profile Editao XD</p>
                    </a>
                </li>

                <li class="{% if 'notifications' in segment %} active {% endif %}">
                    <a href="/notifications.html">
                        <i class="tim-icons icon-bell-55"></i>
                        <p>Notifications</p>
                    </a>
                </li> 
                <li class="{% if 'reports' in segment %} active {% endif %}">
                    <a href="/reports.html">
                        <i class="tim-icons icon-puzzle-10"></i>
                        <p>Reports</p>
                    </a>
                </li>
                <li class="{% if 'guides' in segment %} active {% endif %}">
                    <a href="/guides.html">
                        <i class="tim-icons icon-align-center"></i>
                        <p>Guides</p>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('authentication_blueprint.logout') }}">
                        <i class="tim-icons icon-button-power"></i>
                        <p>Logout</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
