@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(des_images/background.jpg)no-repeat;
    background-size: cover;
    background-position: center;
}

header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
    color: rgb(168, 84, 157);
    font-size: 45px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}

header .logo span{
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 45px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}

header .navigation a{
    color: rgb(255, 255, 255);
    background: rgb(168, 84, 157);
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 10px 15px;
    border-radius: 10px;
    transition: 0.5s;
    transition-property: background;
}

header .navigation a:not(:last-child){
    margin-right: 10px;
}

header .navigation a:hover{
    background: rgb(63, 5, 55);
}

.content{
    max-width: 1250px;
    margin: 60px 100px;
}

.content .info h2{
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 60px;
    margin-bottom: 30px;
}

.content .info h2 span{
    color: rgb(168, 84, 157);
    font-size: 25px;
    font-weight: 800;
}

.content .info p{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
}

.content .info p span{
    color: rgb(168, 84, 157);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
}

.content .info-btn{
    color: rgb(255, 255, 255);
    background: rgb(168, 84, 157);
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 10px 15px;
    border-radius: 10px;
    transition: 0.5s;
    transition-property: background;
}

.content .info-btn:hover{
    background: rgb(63, 5, 55);
}

.media-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.media-icons a{
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 35px;
    transition: 0.5s;
    transition-property: transform;
}

.media-icons a:not(:last-child){
    margin-right: 60px;
}

.media-icons a:hover{
    transform: scale(1.5);
}

.media-icons p{
    position: relative;
    margin-right: 60px;
    color: rgb(255, 255, 255);
    text-transform: none;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
}

footer p{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    background-color: rgb(168, 84, 157);
}