<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width:device-width, initial-scale:1.0">
        <title>DataWave</title>
        <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    </head>
    <body>
        <section>
            <header>
                <h2><a href="#" class="logo">Data<span>Wave</span></a></h2>
                <div class="navigation">
                    <a href="{{ url_for('authentication_blueprint.login') }}">Login</a>
                    <a href="{{ url_for('authentication_blueprint.register') }}">Sign Up</a>
                    
                </div>
            </header>
            <div class="content">
                <div class="info">
                    <h2>Is your database <span>performance</span> holding you back?<br></h2>
                    <p>
                        <span>Discover the power of DataWave to Unlock You Full Potential!</span><br><br><br>
                        With cutting-edge monitoring tools and insightful analytics, DataWave empowers you to optimize your database system effortlessly.<br>
                        Experience unparalleled visibility into your database's health, performance trends, and gain actionable insights to drive efficiency and productivity.<br>
                        Join the wave of businesses transforming their data management with DataWave.<br>
                    </p>
                    <p>
                        <span>Try DataWave Now - Start Your Comprehensive 15-Day Free Trial!<br></span>
                    </p>

                        <a href="{{ url_for('authentication_blueprint.register') }}" class="info-btn">Start Your Free Trial</a>

                </div>

            </div>
            <div class="media-icons">
                <p>Contact Us:</p>
                <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                <a href="mailto:data-wave@outlook.com"><i class="fa-regular fa-envelope"></i></i></a>
            </div>
            <footer>
                <p>DataWave - All rights reserved, 2023.</p>
            </footer>
        </section>
    </body>
</html>
